<div class="banner" style="background-image: url('https://image.freepik.com/free-photo/watermelon-juice-with-copy-space_23-2147640789.jpg');">
<div class="card-1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @cocktail.photo.path, height: 300, width: 400, crop: :fill %>')">

    Cocktail name: <%= @cocktail.name %>
    <%= link_to "Delete Cocktail", delete_cocktail_path(@cocktail),:method => :delete %>
    <% @cocktail.doses.each do |dose| %>
      <div>
      Ingredient: <%= dose.ingredient.name %>, Dose: <%= dose.description %>
      <%= link_to "Delete Ingredient", delete_dose_path(dose),:method => :delete %>
      </div>
      <% end %>
</div>

<div class="row card-2">
<p>
<%= link_to "Add Dose", new_cocktail_dose_path(@cocktail)%>
<br>
<%= link_to "Back", cocktails_path %>
</p>
</div>
</div>

